* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.box {
  position: absolute;
  border: 2px solid black;
  border-radius: 25px;
  padding: 15rem;
  margin: 1rem;
}
.content {
  position: relative;
  align-items: center;
}
