* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  position: relative;
  border: 2px solid black;
  border-radius: 25px;
  padding: 15rem;
  margin: 1rem;
}
}

.box {
  position: absolute;
  align-items: center;
  
}

.address  {
    position: absolute;
  padding: 4rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.bottom{
    position: absolute;
}
